.fy-section {
    @include display(flex);
    position: relative;
    padding-bottom: rem(15);
    .icon {
        @include flex(0 0 auto);
        width: rem(30);
        height: rem(30);
        margin-right: rem(25);

        svg {
            fill: $color-white;
            width: rem(30);
            height: rem(30);
        }
    }
    .explorer-fy-picker {
        float: none;
        clear: none;
        .fy-button {
            border: 0;
            font-weight: 400;
            font-size: rem(24);
            line-height: rem(28);
            .label {
                border-bottom: solid 1px $color-gray;
            }
        }
        .field-list {
            width: auto;
            border: 0;
        }
    }
}